body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  font-weight: 100;
  font-size: 1.5rem;
  background: rgb(0, 206, 221);
  color: white;
  height: 100%;
  display: grid;
  grid:
    "header header header todo" auto
    "...... lists  active ......" auto
    "...... list  button ......" auto
    "...... footer footer ......" auto /
    1fr minmax(100px, 300px) minmax(250px, 500px)  1fr;
}

.title {
  grid-area: header;
  text-align: center;
  font-size: 4em;
  color: rgba(0, 0, 0, 0.14);
  margin: -0.35em 0 1em;
  transition: color 250ms ease-in-out;
}

.todo {
  grid-area: todo;
  text-align: left;
  color: rgba(255, 255, 255, 0.541);
}

.title:hover {
  color: rgba(0, 0, 0, 0.637);
  cursor: pointer;
}

.all-tasks {
  grid-area: lists;
  height: 100%;
}


.my-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15%;
}

.clear-all-btn {
  left: 20px;
  font-family: inherit;
  border: 0;
  padding: 0;
  background: inherit;
  color: inherit;
  padding: 7px 10px;
  transition: color 200ms ease-in;
}

.clear-all-btn:hover {
  background: rgba(0, 0, 0, 0.14);
  border-radius: 25px;
  color: rgb(0,0,0);
}

.task-list {
  line-height: 1.7;
  font-size: 1.2rem;
  list-style: circle;
  font-weight: 100;
  padding-left: 1.1em;
}

.list-name {
  cursor: pointer;
  transition: border-bottom 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
}

.list-name:hover {
  opacity: 0.7;
  border-bottom: 5px solid white;
  background-color: rgb(15, 155, 165);
  list-style: square;
}

form {
  display: flex;
}

.btn {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  color: inherit;
}

.btn.create {
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 0.25em;
  transition: opacity 350ms ease-in-out;
  transition: margin-right 350ms ease-in-out;
}

.btn.create:hover {
  opacity: 0.7;
  margin-right: 0.5em;
}

.new {
  background: transparent;
  border: 0;
  color: inherit;
  font-family: 'Roboto Slab', serif;
  border-bottom: 2px dotted currentColor;
  font-size: inherit;
  outline: none;
  padding: 0.25em;

  transition: border-bottom 350ms ease-in-out;
  order: 2;
}

.new::placeholder {
  opacity: 0.3;
}

.new:focus {
  
  border-bottom-width: 10px;
  border-bottom-style: solid;
}

.new:focus::placeholder {
  opacity: 0.1;
}

.new.list {
  font-size: 1.1rem;
}

.new.task {
  margin-bottom: 0;
}

.active-list {
  font-weight: 700;
}

.todo-list {
  grid-area: active;
  --spacer: 2rem;
  bottom: 10px;
  border-radius: 25px;
  grid-area: active;
  background: white;
  color: rgba(0, 0, 0, 0.808);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.295);
  transition: box-shadow 350ms ease-in-out;
}

.todo-header {
  padding: var(--spacer);
  border-radius: 25px 25px 0 0;
  background: rgb(221, 221, 221);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list:hover {
  box-shadow: 3px 5px 30px rgba(0, 0, 0, 0.425);
}

.list-title {
  margin: 0 1rem 0 0;
}

.task-count {
  margin: 0;
  transition: font-weight 350ms ease-in-out;
}

.task-count:hover {
  font-weight: bolder;
}

.todo-body {
  padding: var(--spacer);
  position: relative;
}


[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.task label {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.task {
  position: relative;
  margin-bottom: 1.5em;
}

.task::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -0.5em;
  height: 1px;
  background: currentColor;
  opacity: 0.1;
}

.custom-checkbox {
  --size: 0.75em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 150ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
  transform: scale(1.1);
  /* background: rgba(32, 222, 255, 0.671); */
  color: rgb(0, 206, 221);
}

[type="checkbox"]:checked + label .custom-checkbox {
  background: rgb(0, 206, 221);
  border-color: rgb(0, 206, 221);
  box-shadow: inset 0 0 0 2px white;
}

[type="checkbox"]:checked + label {
  opacity: 0.5;
}

.task label::after {
  content: "";
  position: absolute;
  left: 1.5em;
  right: 0;
  height: 3px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}

[type="checkbox"]:checked + label::after {
  transform: scaleX(1);
  transform-origin: left;
}

.button-lists {
  grid-area: active;
  padding: 10px ;
}
.delete {
  
  font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  left: 0;
  color: rgb(212, 211, 211);
  padding: 7px 5px;
}

.btn.delete {
  /* font-weight: 700;
  letter-spacing: 1px; */
  font-size: 1rem;
}

.btn.delete:hover {
  background: rgba(0, 0, 0, 0.14);
  border-radius: 25px;
  color: rgb(0,0,0);
}

.mainFooter {
  grid-area: footer;
  font-size: 0.75em;
  padding-top: 300px;
  padding-bottom: 20px;
  /* text-align: center; */
  font-weight: 200;
  position: relative;
}